header{
    background-color: rgb(247, 168, 181); 
    border: 2px solid #000;
    margin: 20px;
    height: 115px;
}

main{
    display: flex;
}

article {
    width: 1100px;
    height: 60px;
    padding: 70px 0; 
    margin: 20px; 
    border: 2px solid #000;
}

.a {
    background-color: rgb(255, 49, 49);
}

.b {
    background-color: rgb(154, 164, 218);
}

aside{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 86); 
    border: 2px solid #000;
    margin: 20px;
}